/* Add your CSS code here */
*
{
    font-family: Arial, Helvetica, sans-serif;
    max-width:700px;
    margin:auto;
    
}
  body
  {
      min-width:590px;
      background-color:#e0eeee;
  }
 .profileBody
 {
    display: inline-block;
    background-color: white;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 590px;
  }
  
hr
{
     margin:10px 0;
}
p
  {
      padding:10px 0;
  }

a:hover
{
        color:red;
}
